###Read csv file using scala . Print schema and Print first 2 records

In [ ]:
val df1 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/filghtontimedata/plane_data.txt")
//df1.printSchema()
df1.show(8)

###Read csv file using scala . group by column Airline--> sum a column-->Order by column Airline

In [ ]:
val df2 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/FleetData/FleetData.csv")
df2.groupBy("Airline").sum("Total").orderBy("Airline").limit(1).show(false)