In [ ]:
###Read csv file using scala . Print schema and Print first 2 records

In [ ]:
val df1 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/filghtontimedata/plane_data.txt")
df1.printSchema()
df1.show(2)
df1.createOrReplaceTempView("flightarrivaldata")

###Read csv file using scala . group by column Airline--> sum a column-->Order by column Airline

In [7]:
val df2 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/FleetData/FleetData.csv")
//df2.printSchema()
//val df3 = df2.groupBy("Airline").sum("Total").orderBy("Airline").limit(10).show(false)
val df3 = df2.groupBy("Airline").sum("Total").orderBy("Airline")
df3.coalesce(1).write.option("header", "true").csv("/data/informatica/shared/target/FleetDataAgg")

df2: org.apache.spark.sql.DataFrame = [Parent Airline: string, Airline: string ... 9 more fields]
df3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Airline: string, sum(Total): bigint]

In [ ]:

df2.createOrReplaceTempView("flightdata")
spark.sql("select * from flightdata").show(9)

In [ ]:
spark.sql("select Airline,sum(current) as sum_current from flightdata group by Airline order by 1").show(false)

In [ ]:
//df1.withColumn("CRSDepTime2",to_timestamp(concat(Year,LPAD(Month,2,'0'),LPAD(DayofMonth,2,'0'),LPAD(CRSDepTime,4,'0')),"yyyyMMddHHmm") as CRSDepTime2).show(2)
spark.sql("select UniqueCarrier,FlightNum,Year,Month,DayofMonth,DepTime,CRSDepTime,TO_DATE(concat(Year,LPAD(Month,2,'0'),LPAD(DayofMonth,2,'0'),LPAD(DepTime,4,'0')),'yyyyMMddHHmm') as DepTime from flightarrivaldata").show(2,false)
//spark.sql("select UniqueCarrier,FlightNum,to_timestamp(concat(Year,LPAD(Month,2,'0'),LPAD(DayofMonth,2,'0'),LPAD(CRSDepTime,4,'0')),'yyyyMMddHHmm') as CRSDepTime,to_timestamp(concat(Year,LPAD(Month,2,'0'),LPAD(DayofMonth,2,'0'),LPAD(DepTime,4,'0')),'yyyyMMddHHmm') as DepTime from flightarrivaldata").show(2,false)