Create Dataset examples

In [4]:
val numseq = Seq(1,2,3,4,5)
val numds = numseq.toDS()
numds.show(2)

+-----+
|value|
+-----+
|    1|
|    2|
+-----+
only showing top 2 rows

numseq: Seq[Int] = List(1, 2, 3, 4, 5)
numds: org.apache.spark.sql.Dataset[Int] = [value: int]

In [9]:
case class emp(id:Int , name:String,deptno:Int)
val empseq = Seq(emp(1,"PAUL",10),emp(2,"LAURA",10),emp(3,"SAM",20),emp(4,"JAY",20),emp(5,"KATE",30),emp(6,"JOE",30))
val empds = empseq.toDS()
empds.show()

+---+-----+------+
| id| name|deptno|
+---+-----+------+
|  1| PAUL|    10|
|  2|LAURA|    10|
|  3|  SAM|    20|
|  4|  JAY|    20|
|  5| KATE|    30|
|  6|  JOE|    30|
+---+-----+------+

defined class emp
empseq: Seq[emp] = List(emp(1,PAUL,10), emp(2,LAURA,10), emp(3,SAM,20), emp(4,JAY,20), emp(5,KATE,30), emp(6,JOE,30))
empds: org.apache.spark.sql.Dataset[emp] = [id: int, name: string ... 1 more field]