Create Dataset examples and joins

In [ ]:
val numseq = Seq(1,2,3,4,5)
val numds = numseq.toDS()
numds.show(2)

In [19]:
case class emp(id:Int , name:String,deptno:Int)
val empseq = Seq(emp(1,"PAUL",10),emp(2,"LAURA",10),emp(3,"SAM",20),emp(4,"JAY",20),emp(5,"KATE",30),emp(6,"JOE",30))
val empds = empseq.toDS()
case class dept(deptno:Int , dname:String,dloc:String)
val deptseq = Seq(dept(10,"FINANCE","BOSTON"),dept(20,"HR","DALLAS"),dept(30,"SALES","CHICAGO"),dept(40,"MARKETING","DENVER"))
val deptds = deptseq.toDS()
//empds.show()
//deptds.show()
val matchdf = empds.join(deptds, empds("deptno") === deptds("deptno"))
matchdf.show()

+---+-----+------+------+-------+-------+
| id| name|deptno|deptno|  dname|   dloc|
+---+-----+------+------+-------+-------+
|  1| PAUL|    10|    10|FINANCE| BOSTON|
|  2|LAURA|    10|    10|FINANCE| BOSTON|
|  3|  SAM|    20|    20|     HR| DALLAS|
|  4|  JAY|    20|    20|     HR| DALLAS|
|  5| KATE|    30|    30|  SALES|CHICAGO|
|  6|  JOE|    30|    30|  SALES|CHICAGO|
+---+-----+------+------+-------+-------+

defined class emp
empseq: Seq[emp] = List(emp(1,PAUL,10), emp(2,LAURA,10), emp(3,SAM,20), emp(4,JAY,20), emp(5,KATE,30), emp(6,JOE,30))
empds: org.apache.spark.sql.Dataset[emp] = [id: int, name: string ... 1 more field]
defined class dept
deptseq: Seq[dept] = List(dept(10,FINANCE,BOSTON), dept(20,HR,DALLAS), dept(30,SALES,CHICAGO), dept(40,MARKETING,DENVER))
deptds: org.apache.spark.sql.Dataset[dept] = [deptno: int, dname: string ... 1 more field]
matchdf: org.apache.spark.sql.DataFrame = [id: int, name: string ... 4 more fields]

#Sql based join by convertingthe ds to temp tables

In [18]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc)

case class Match(matchId: Int, player1: String, player2: String)
case class Player(name: String, birthYear: Int)

val matches = Seq(
  Match(1, "John Wayne", "John Doe"),
  Match(2, "Ive Fish", "San Simon")
)

val players = Seq(
  Player("John Wayne", 1986),
  Player("Ive Fish", 1990),
  Player("San Simon", 1974),
  Player("John Doe", 1995)
)

val matchesDf = sqlContext.createDataFrame(matches)
val playersDf = sqlContext.createDataFrame(players)

matchesDf.registerTempTable("matches")
playersDf.registerTempTable("players")

sqlContext.sql(
  "select matchId, player1, player2, p1.birthYear, p2.birthYear, abs(p1.birthYear-p2.birthYear) " +
  "from matches m inner join  players p1 inner join players p2 " +
  "where m.player1 = p1.name and m.player2 = p2.name").show()

+-------+----------+---------+---------+---------+----------------------------+
|matchId|   player1|  player2|birthYear|birthYear|abs((birthYear - birthYear))|
+-------+----------+---------+---------+---------+----------------------------+
|      1|John Wayne| John Doe|     1986|     1995|                           9|
|      2|  Ive Fish|San Simon|     1990|     1974|                          16|
+-------+----------+---------+---------+---------+----------------------------+

sqlContext: org.apache.spark.sql.SQLContext = org.apache.spark.sql.SQLContext@63821fde
defined class Match
defined class Player
matches: Seq[Match] = List(Match(1,John Wayne,John Doe), Match(2,Ive Fish,San Simon))
players: Seq[Player] = List(Player(John Wayne,1986), Player(Ive Fish,1990), Player(San Simon,1974), Player(John Doe,1995))
matchesDf: org.apache.spark.sql.DataFrame = [matchId: int, player1: string ... 1 more field]
playersDf: org.apache.spark.sql.DataFrame = [name: string, birthYear: int]