Create Dataset examples and joins

In [ ]:
val numseq = Seq(1,2,3,4,5)
val numds = numseq.toDS()
numds.show(2)

In [ ]:
case class emp(id:Int , name:String,deptno:Int)
val empseq = Seq(emp(1,"PAUL",10),emp(2,"LAURA",10),emp(3,"SAM",20),emp(4,"JAY",20),emp(5,"KATE",30),emp(6,"JOE",30))
val empds = empseq.toDS()
case class dept(deptno:Int , dname:String,dloc:String)
val deptseq = Seq(dept(10,"FINANCE","BOSTON"),dept(20,"HR","DALLAS"),dept(30,"SALES","CHICAGO"),dept(40,"MARKETING","DENVER"))
val deptds = deptseq.toDS()
//empds.show()
//deptds.show()
val matchdf = empds.join(deptds, empds("deptno") === deptds("deptno"),"outer")
matchdf.show()

#Sql based join by convertingthe ds to temp tables

In [ ]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc)

case class Match(matchId: Int, player1: String, player2: String)
case class Player(name: String, birthYear: Int)

val matches = Seq(
  Match(1, "John Wayne", "John Doe"),
  Match(2, "Ive Fish", "San Simon")
)

val players = Seq(
  Player("John Wayne", 1986),
  Player("Ive Fish", 1990),
  Player("San Simon", 1974),
  Player("John Doe", 1995)
)

val matchesDf = sqlContext.createDataFrame(matches)
val playersDf = sqlContext.createDataFrame(players)

matchesDf.registerTempTable("matches")
playersDf.registerTempTable("players")

sqlContext.sql(
  "select matchId, player1, player2, p1.birthYear, p2.birthYear, abs(p1.birthYear-p2.birthYear) " +
  "from matches m inner join  players p1 inner join players p2 " +
  "where m.player1 = p1.name and m.player2 = p2.name").show()