In [ ]:
###Read csv file using scala . Print schema and Print first 2 records

In [ ]:
val df1 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/filghtontimedata/plane_data.txt")
//df1.printSchema()
df1.show(7)

###Read csv file using scala . group by column Airline--> sum a column-->Order by column Airline

In [2]:
val df2 = spark.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true"))
.csv("/data/informatica/shared/FleetData/FleetData.csv")
//df2.printSchema()
//df2.groupBy("Airline").sum("Total").orderBy("Airline").limit(1).show(false)

df2: org.apache.spark.sql.DataFrame = [Parent Airline: string, Airline: string ... 9 more fields]

In [3]:
df2.createOrReplaceTempView("flightdata")
spark.sql("select * from flightdata").show(9)

+---------------+---------------+--------------------+-------+------+--------+-----+------+---------+--------------------+-----------+
| Parent Airline|        Airline|       Aircraft Type|Current|Future|Historic|Total|Orders|Unit Cost|Total Cost (Current)|Average Age|
+---------------+---------------+--------------------+-------+------+--------+-----+------+---------+--------------------+-----------+
|Aegean Airlines|Aegean Airlines|         Airbus A319|      1|  null|       3|    4|  null|      $90|                 $90|       11.6|
|Aegean Airlines|    Olympic Air|         Airbus A319|   null|  null|       8|    8|  null|      $90|                  $0|       null|
|Aegean Airlines|Aegean Airlines|         Airbus A320|     38|  null|       3|   41|  null|      $98|              $3,724|        7.5|
|Aegean Airlines|    Olympic Air|         Airbus A320|   null|  null|       9|    9|  null|      $98|                  $0|       null|
|Aegean Airlines|Aegean Airlines|         Airbus A321|      8|  null|    null|    8|  null|     $115|                $919|       10.3|
|Aegean Airlines|    Olympic Air|           ATR 42/72|      2|  null|    null|    2|  null|      $22|                 $44|        2.4|
|Aegean Airlines|Aegean Airlines|           ATR 42/72|   null|  null|       6|    6|  null|      $22|                  $0|       null|
|Aegean Airlines|Aegean Airlines|          Boeing 737|   null|  null|      17|   17|  null|      $74|                  $0|       null|
|Aegean Airlines|Aegean Airlines|British Aerospace...|   null|  null|       6|    6|  null|      $14|                  $0|       null|
+---------------+---------------+--------------------+-------+------+--------+-----+------+---------+--------------------+-----------+
only showing top 9 rows

In [ ]:
spark.sql("select Airline,sum(current) as sum_current from flightdata group by Airline order by 1").show(false)